div#其他指令 > div {
  margin: 5vh 5% 0px 5%;
  width: 90%;
  height: 100%;
  font-size: 24px;
  font-style: italic;
  color: beige;
}
div#其他指令 > div > div {
  line-height: 48px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#其他指令 > div > div > span > span.value {
  color: rgb(255, 203, 60);
}
div#其他指令 > div > div.command {
  border: 3px solid rgb(179, 179, 179);
  border-right: 0px;
  width: 30%;
}
div#其他指令 > div > div.commandValue {
  border: 3px solid rgb(179, 179, 179);
  width: calc(70% - 8px);
}