div#服务器内容 {
  font-size: 20px;
}
div#服务器内容 > div {
  margin-top: 0.5vh;
  width: 100%;
}
div#服务器内容 > div > img {
  vertical-align: middle;
  width: 3vw;
}
div#服务器内容 > div > span {
  font-size: 24px;
  color: blanchedalmond;
  font-style: italic;
}