body {
    margin: 0px;
    background: #292929;
    overflow:  hidden;
}
.head , .list , .index{
    border-radius: 8px;
    background-color: rgb(104, 104, 104);
}
.head {
    margin: 8px 8px 4px 8px;
    width: calc(100vw - 16px);
    height: 5vh;
    text-align: center;
}
.head > .title {
    font-size: 20px;
}
.list , .index {
    margin-top: 4px;
    margin-bottom: 8px;
    float: left;
    height: calc(94vh - 16px);
}
.list {
    margin-left: 8px;
    margin-right: 4px;
    width: calc(12vw - 12px);
}
.index {
    margin-left: 4px;
    margin-right: 8px;
    width: calc(88vw - 12px);
}